<h4>Empresa : {{ title | uppercase }}</h4>

<div class="form-group">
    <button class="btn btn-primary" [routerLink]="['/admin/product/'+idProduct+'/add']"><i class="fa fa-plus"></i> Agregar Producto </button>
    <button class="btn bg-secondary" [routerLink]="['/admin/store']"><i class="fa fa-arrow-left"></i> Regresar </button>
</div>


<div class="table-responsive">
	<table>
		<thead>
			<tr>
				<th>Nombre</th>
                <th>Descripción</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let product of products | async">
				<td>{{ product.name }}</td>
				<td>{{ product.description }}</td>
                <td>
                    <button class="bg-danger btn-xs" (click)="delete(product)"><i class="fa fa-close"></i></button>
                    <button class="bg-warning btn-xs" [routerLink]="['/admin/product/'+idProduct+'/'+product.id]"><i class="fa fa-edit"></i></button>
                </td>
			</tr>
		</tbody>
	</table>
</div>

