<form  [formGroup]="form" (ngSubmit)="onSubmit(form)">
    
    <div class="form-control">
        <label >Nombre</label>
        <input type="text" class="error"  formControlName="name" placeholder="Nombres" />
        <div class="text-danger" *ngIf="f.name.errors?.required && f.name.touched">
            El campo Nombre es requerido ! 
        </div>
    </div>

    <div class="form-control">
        <label >Dirección</label>
        <input type="text" class="error"  formControlName="address" placeholder="Dirección" />
        <div class="text-danger" *ngIf="f.address.errors?.required && f.address.touched">
            El campo Apellidos es requerido ! 
        </div>
    </div>

    <div class="form-control">
        <label >Teléfono</label>
        <input type="number" class="error"  formControlName="phone" placeholder="Teléfono" />
        <div class="text-danger" *ngIf="f.phone.errors?.required && f.phone.touched">
            El campo Teléfono es requerido ! 
        </div>
    </div>


    <button>GESTIONAR</button>
</form>