
* {
    box-sizing: border-box;
  }
  
  :root {
    --app-container: #f3f6fd;
    --main-color: #1f1c2e;
    --secondary-color: #4A4A4A;
    --link-color: #1f1c2e;
    --link-color-hover: #c3cff4;
    --link-color-active: #fff;
    --link-color-active-bg: #200444;
    --projects-section: #fff;
    --message-box-hover: #fafcff;
    --message-box-border: #e9ebf0;
    --more-list-bg: #fff;
    --more-list-bg-hover:  #f6fbff;
    --more-list-shadow: rgba(209, 209, 209, 0.4);
    --button-bg: #1f1c24;
    --search-area-bg: #fff;
    --star: #1ff1c2e;
    --message-btn: #fff;
  }
  
  input , select , textarea{
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }


  
  html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    flex: 0 !important;
  }
  
  body {
    font-family: 'DM Sans', sans-serif;
    overflow: hidden;
    justify-content: center;
    background-color: var(--app-container);
  }

  h1 {
    font-weight: bold;
    margin: 0;
  }
  
  h2 {
    text-align: center;
  }
  
  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  span {
    font-size: 12px;
  }
  
  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  button {
    border-radius: 20px;
    border: 1px solid #200444;
    background-color: #200444;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
  }
  

  button, a {
    cursor: pointer;
  }

  hr{
    margin-top: 5px;
    margin-bottom: 30px;
    width: 100%;
  }


  .text-danger{
    color : red;
    margin: 15px;
  }


  .bg-danger{
    background: rgb(211, 42, 42) ;
    color: white ;
    border: 1px solid white;
  }
  .bg-warning{
    background: rgb(211, 171, 42);
    color: white ;
    border: 1px solid white;
  }

  .bg-secondary{
    background: rgb(95, 95, 95);
    color: white ;
    border: 1px solid white;
  }

  .btn-xs{
    padding: 10px;
  }

  table {

    border-collapse:collapse;
    border-spacing:0;
    -webkit-box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
       -moz-box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
            box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
    margin-bottom:40px;
    margin-top:50px;	
    width:100%; 
    max-width:100%;
  }
  table thead tr {border-bottom:3px solid var(--main-color);; color:#000;}
  table tfoot tr {border-top:3px solid var(--main-color);}
  table thead th, table tfoot th {
    background-color:#fff;
    color:#000;
    font-size:.83333em;
    line-height:1.8;
    padding: 15px 14px 13px 14px;
    position:relative;
    text-align:left;
    text-transform:uppercase;	
  }
  table tbody tr {background-color:#fff;}
  table tbody tr:hover {background-color:#eee; color:#000;}
  table th, table td {
    border:1px solid #bfbfbf;
    padding:10px 14px;
    position:relative;
    vertical-align:middle;
  }
  caption {font-size:1.111em; font-weight:300; padding:10px 0;}
  
  @media (max-width:1024px) {
    table {font-size: .944444em;}
  }
  @media (max-width:767px) {
    table {font-size: 1em;}
  }
  
   /* Responsive table full */
  @media (max-width: 767px) {
    .table-responsive-full {box-shadow:none;}
    .table-responsive-full thead tr, 
    .table-responsive-full tfoot tr {display:none;}
    .table-responsive-full tbody tr {
      -webkit-box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
         -moz-box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
              box-shadow:0px 7px 6px -6px rgba(0,0,0,.28);
      margin-bottom:20px;
    }
    .table-responsive-full tbody tr:last-child {margin-bottom:0;}
    .table-responsive-full tr,
    .table-responsive-full td {display:block;}
    .table-responsive-full td {
      background-color:#fff;
      border-top:none;
      position:relative;
      padding-left:50%;
    }
    .table-responsive-full td:hover {background-color:#eee; color:#000;}
    .table-responsive-full td:hover:before {color:hsl(0, 0%, 40%);}
    
    .table-responsive-full td:first-child {
      border-top:1px solid #bfbfbf;
      border-bottom: 3px solid var(--main-color);
      border-radius: 4px 4px 0 0;
      color: #000;
      font-size: 1.11111em;
      font-weight: bold;
    }
    .table-responsive-full td:before {
      content: attr(data-label);
      display: inline-block;
      color: hsl(0, 0%, 60%);
      font-size: 14px;
      font-weight: normal;
      margin-left: -100%;
      text-transform: uppercase;
      width: 100%;
      white-space:nowrap;
    }
  }
  @media (max-width: 360px) {
    .table-responsive-full td {padding-left:14px;}
    .table-responsive-full td:before {display:block; margin-bottom:.5em; margin-left:0;}
  }
    /* Sort table */
  .sort-table-arrows {float:right; transition:.3s ease;}
  .sort-table-arrows button {margin:0; padding:4px 8px;}
  .sort-table th.title, .sort-table th.composer {width:20% !important;}
  .sort-table th.lyrics, .sort-table th.arranger, .sort-table th.set, .sort-table th.info {width:15% !important;}
  .sort-table .title {font-weight: bold;}
  .sort-table .title small {font-weight:normal;}
  
  @media (max-width:1024px) {
    .sort-table th,.sort-table-arrows {text-align:center;}
    .sort-table-arrows {float:none; padding:8px 0 0; position:relative; right:0px;}
    .sort-table-arrows button {bottom:0;}
  }
  @media (max-width:767px) {
    .sort-table thead tr {border-bottom:none; display:block; margin:10px 0; text-align:center;}
    .sort-table thead tr th.arranger {display:none;}
    .sort-table th {
      border-bottom:1px solid #bfbfbf;
      border-radius:4px;
      display:inline-block;
      font-size:.75em;
      line-height:1;
      margin:3px 0;
      padding:10px;
    }
    .sort-table th.title, .sort-table th.composer, .sort-table th.lyrics, .sort-table th.set, .sort-table th.info {width: 100px !important;}
    .sort-table td.title:before {display:none;}
    .sort-table td.title {letter-spacing:.03em; padding-left:14px;}
  }