<div class="form-group">
    <button class="btn btn-primary" [routerLink]="['/admin/store/1']"><i class="fa fa-plus"></i> Agregar Tienda</button>
</div>

<div class="table-responsive">
	<table>
		<thead>
			<tr>
                <th>Nombre</th>
                <th>Nit</th>
                <th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>MC donalds</td>
				<td>123456789</td>
                <td>
                    <button class="bg-danger btn-xs"><i class="fa fa-close"></i></button>
                    <button class="bg-warning btn-xs"><i class="fa fa-edit"></i></button>
					<button class="btn-xs" [routerLink]="['/admin/product/1']"><i class="fa fa-cube" ></i></button>
                </td>
			</tr>
		</tbody>
	</table>
</div>

