<div class="form-group">
    <button class="btn btn-primary" [routerLink]="['/admin/store/add']"><i class="fa fa-plus"></i> Agregar Tienda</button>
</div>

<div class="table-responsive">
	<table>
		<thead>
			<tr>
                <th>Nombre</th>
                <th>Dirección</th>
				<th>Teléfonos</th>
                <th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let store of stores | async ">
				<td>{{ store.name }}</td>
				<td>{{ store.address }}</td>
				<td>{{ store.phone }}</td>
                <td>
                    <button class="bg-danger btn-xs"  (click)="delete(store)"><i class="fa fa-close"></i></button>
                    <button class="bg-warning btn-xs" [routerLink]="['/admin/store/'+store.id]"><i class="fa fa-edit"></i></button>
					<button class="btn-xs" [routerLink]="['/admin/product/'+store.id]"><i class="fa fa-cube" ></i></button>
                </td>
			</tr>
		</tbody>
	</table>
</div>

