<form  [formGroup]="form">
    <div class="form-control">
        <label >Nombre</label>
        <input type="text" class="error"  formControlName="name" placeholder="Nombres" />
        <div class="text-danger" *ngIf="f.name.errors?.required && f.name.touched">
            El campo Nombre es requerido ! 
        </div>
    </div>

    <div class="form-control">
        <label >Descripción</label>
        <textarea type="text" class="error"  formControlName="description" placeholder="Dirección" ></textarea>
        <div class="text-danger" *ngIf="f.description.errors?.required && f.description.touched">
            El campo Descripción es requerido ! 
        </div>
    </div>
</form>


    <div class="form-group products-created" style="height: 400px;overflow-y: scroll;">
        <label>Productos Asociados</label>
        <hr>
        <div class="col-sm-12" *ngFor="let product of optionItems" >
            <div class="col-sm-4" style="text-align: center;margin-top: 15px;font-weight: 600;">
                {{ product.text }}
            </div>
            <div class="col-sm-8">
                <input type="number" [(ngModel)]="product.amount"  placeholder="amount" [value]="product.amount">
            </div>
        </div>   
    </div>
    
    <button (click)="onSubmit(form)">GESTIONAR</button>
