<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form  [formGroup]="formLogin" (ngSubmit)="onSubmitLogin(formLogin)">
			<h1>Ingresar</h1>
			<span>Ingrese los siguientes datos:</span>
			<input type="email" class="error"  formControlName="email" placeholder="Email" />
			<div class="text-danger" *ngIf="f.email.errors?.required && f.email.touched">
				El campo Correo es requerido ! 
			</div>
			<div class="text-danger" *ngIf="f.email.errors?.email && f.email.touched">
				El campo debe ser de tipo correo ! 
			</div>
			<input type="password"    formControlName="password" placeholder="Password" />
			<div class="text-danger" *ngIf="f.password.errors?.required && f.password.touched">
				El campo Contraseña es requerido ! 
			</div>
			<div class="text-danger" *ngIf="messageDanger">
				{{  messageDanger }}
			</div>
			<button>Ingresar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
                <h1>Bienvenido al aplicativo de cupones!</h1>
			</div>
		</div>
	</div>
</div>